* {
    padding: 0 ;
    margin:  0;
} 

.section1 {                 /* section1 starts here */
    background-color: #000000;
    height: 600px;
    max-width: 100%;
    
}

.NavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 25px 0px;
    align-items: center;
    
}

#name:hover {
  color: #1e90ff;
   font-size: larger;

}

ul {
    display: flex;
    list-style-type: none; /* remove the dots from the list */
    align-self: flex-end;
    margin-left: 43%;
 }

 .NavBar a {
     text-decoration: none;
     color: #ffffff;
     padding: 0px 15px;
     
 }

 .NavBar a :hover {
            color: #ffa500;
         }

 .NavBar .active {
      color: #ffa500;
 }

#cart-btn {
            border: none;
            padding: 8px 8px;
            font-size: 15px;
            background-color: #3c00ff;
            color: #ffffff;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin-left: 1155px;
            position: fixed;
            margin-top: 100px;
}

#cart-btn:hover {
    background-color: #6a00ff;
}

#cart-btn a {
       text-decoration: none;
       color: #ffffff;
}

  #cart-icon {
       transition: transform 0.4s ease-in-out;
       display: inline-flex;
  }


  #cart-btn:hover #cart-icon {
              
              animation: GoUp 0.5s ease-in-out;   
         
  }

  @keyframes GoUp {
       0% {transform: translateY(0);}
       30% {transform: translateY(-10px);}
       55% {transform: translateY(-4px);}
       75% {transform: translateY(-8px);}
       90% {transform: translateY(-2px);}
       100% {transform: translateY(-6px);} 
   }

   #cart-btn:not(:hover) #cart-icon {
         animation: GoDown 0.3s ease-in-out;
    }

    @keyframes GoDown {
        0% {transform: translateY(-6px);}
        100% {transform: translateY(0);}
        
    }

    #customize-btn {
            border: none;
            padding: 8px 3px;
            font-size: 15px;
            background-color: #ffffff;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin-left: 1155px;
            position: fixed;
            margin-top: 155px;
            
  }

  #customize-btn a {
         text-decoration: none;
         color: #000000;
         
  }

  #customize-btn a:hover {
          color: #0000ff; 
  } 

#para1 {
    color: #ffffff;
    font-size: 5vw;
    margin-left: 4%;
    padding: 7% 0px;
}

.div2 button {
            border: none;
            font-weight: bolder;
            font-size: 30px;
            background-color: #ffa500;
            border: 3px solid #ffa500;
            margin-left: 70px;
            padding: 13px 25px;
            
         }

         #port-btn {
            color: #000000;
            text-decoration: none;  
  }

   .div2 button:hover  {
         background-color: #ffffff;
         
  }    
  
  #port-btn:hover {
       color:#ffa500 ;
  }
  
  
  /* section1 ends here */



/*section2 starts here */
.section2 {
            height: 750px;
            background-color: #ffffff;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            gap: 10px;
            max-width: 100%;
            
}

.div3 {

              margin-left: 45px; 
              grid-column: 1;
              grid-row: 1;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: flex-start;
              margin-top: 20px;

  }

  .div3 h1 {
          font-size: 40px;
          line-height: 1.2;
          text-align: left;
          margin-top: 100px;
          margin-bottom: 30px;
        }

.div3 label {
            font-size: 20px;
           line-height: 1.2;
           text-align: left;
           font-style: oblique;

        }

         .div3 button{
           margin-top: 90px;
           margin-left: 40px;
           padding: 15px 50px; 
           background-color: #ffa500;
           border: none;
        }

        .div3 a {
            text-decoration: none;
            color: #000000;
            font-size: 25px;
            font-weight: bold;
        }

        .div3 button:hover {
            background-color: #ffffff;
            border: 2px solid #ffa500;

        }

        #contact-btn:hover {
            color: #ffa500;
        }

  .div4 {
               
              grid-column: 2;
              grid-row: 1;
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              justify-content: flex-end;

        }

  .div4 img {
            height: 600px;
            width: 520px;
            margin-right: 60px;
        }
  

  .div4 label {
            margin-right: 140px;
            line-height: 1.2;
            font-style: oblique;
            color: #6a00ff;
        }

 /* section2 ends here */


  /* section 3 starts here */

.section3 {
     height: 800px; 
     
  }

  .div5 img {
     height: 800px;
     width: 100%;
  }      /* section 3 ends here */


/* section 4 starts here */
  .section4 {
            height: 1450px ;
            background-color: #ffffff;
            

        }

  .div6 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 30px 0;
        
  }

  #tag,#ser {
    font-size: 2.5rem;
    font-weight: bolder;
  }

  #ser:hover {
    color: #6495ed ;
  }

  .div7 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        
  } 


  #line,#link {
         font-size: 2.5rem;
         font-weight: bolder;
  }

  #link:hover {
    color: #6495ed;

  }

  #link {
      margin-right: 90px;
  }

  #line {
    margin-left: 110px;
    color: #ffa500;
    
  }

  .div8 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 40px;
  }

  #link1 {
         font-size: 2.5rem;
         font-weight: bolder;
         margin-right: 40px;

  }

  #link1:hover {
            color: #6495ed;
  }

  #para2 {
       font-size: larger;
       font-weight: 800;
       margin-left: 100px;
       font-style: italic;
       color: #000000;

  }

  .div9 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 40px 0;

  }

  #std-alone {
    font-weight: bold;
    font-size: 3rem;
    font-family:fantasy;
    margin-left: 30px;
  }

  .div10 {
         display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 50px;

  }

  .div10 label {
     font-size: larger;
     font-weight: 400;
     font-style: italic;
     
  }

  .div10 h2 {
    border: 3px solid #6a00ff;
    background-color: #6a00ff;
    color: #ffffff;
  }

  #lab1 {
    margin-left: 35px;
  }

  #lab2 {
    margin-right: 30px;
  }

  #bord1 {
    border: #808080;
    font-size: 30px;
    font-weight: bolder;
    margin-left: 35px;
  }

  .div11 {
         display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;

  }

  .div11 label {
     font-size: larger;
     font-weight: 400;
     font-style: italic;
     
  }

  #lab3 {
    margin-left: 35px;
  }

  #lab4 {
    margin-right: 50px;
  }

  .div11 h2 {
    margin-right: 138px;
    border: 3px solid #6a00ff;
    background-color: #6a00ff;
    color: #ffffff;
  }

  #bord2 {
    border: #808080;
    font-size: 30px;
    font-weight: bolder;
    margin-left: 35px;
  }

  .div12 {
         display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;

  }

  .div12 label {
     font-size: larger;
     font-weight: 400;
     font-style: italic;
     
  }

  #lab5 {
    margin-left: 35px;
  }

  #lab6 {
    margin-right: 50px;
  }

  .div12 h2 {
    margin-right: 45px;
    border: 3px solid #6a00ff;
    background-color: #6a00ff;
    color: #ffffff;
  }

  #bord3 {
    border: #808080;
    font-size: 30px;
    font-weight: bolder;
    margin-left: 35px;
  }

  .div13 {
         display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;

  }

  .div13 label {
     font-size: larger;
     font-weight: 400;
     font-style: italic;
     
  }

   #lab7 {
    margin-left: 35px;
  }

  #lab8 {
    margin-right: 50px;
  }

  .div13 h2 {
    margin-left: 110px;
    border: 3px solid #6a00ff;
    background-color: #6a00ff;
    color: #ffffff;
  }

  #bord4 {
    border: #808080;
    font-size: 30px;
    font-weight: bolder;
    margin-left: 35px;
  }

     /* section4 ends here */


     /* section5 starts here */

     .section5{
           
           background-color: #000000;
           display: flex;
           height: 550px;
           
     }

     .div13 {
        padding: 0px;
        margin: 0px;
     }

     .div13 span {
         border: none;
         background-color: #ff9100;
         border-radius: 0 0 20px 20px;
         height: 200px;
         width: 120px;
         display: flex;
         margin-left: 20px;
     }

     #math {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 25px;
        font-size: 1.5rem;
        font-weight: bolder;
        color: #000000;
        
     }

     .div14 h1 {
        color: #ffffff;
        margin-top: 250px;
        margin-left: 40px;
     }

     .div15 {
        color: #ffffff;

     }

     .label{
        display: flex;
        flex-direction: column;
        color: #ffffff;
        margin: 50px;
        margin-left: 82%;   
     }

     #label-2 {
      font-style: oblique;
      margin-left: 10px;
      margin-top: 5px;
     }
      /* section5 ends here */

      /* section6 starts here */

      .section6 {
           height: 580px;
           background-color: #ffffff;
           
      }

      .div15 {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
      }

      /* section6 ends here */



      /* section7 starts here */

     .section7 {
           height: 620px;
           background-color: #ffffff;
           display: grid;
           grid-template-columns: 1fr 1fr;
           grid-template-rows: auto auto;
           gap: 10px;
           width: 100%;
      } 

      .div16 {
              margin-left: 40px; 
              grid-column: 1;
              grid-row: 1;
              display: flex;
              align-items: left;
              justify-content: left;
              margin-top: 2px;
              
      }

      .div16 h1 {
          font-size: 3rem;
          line-height: 1.2;
          text-align: left;
          margin-top: 20px;
      }

      .div17 {
           grid-column: 2;
           grid-row: 1;
           display: flex;
           flex-direction: column;
           gap: 10px;
           justify-content: right;
           margin-top: 40px;

      }

      .div17 input,textarea {
          width: 500px;
          height: 40px;
          margin-left: 60px ;

      } 

      .div17 textarea{

            width: 503px;
            height: 120px;
      }

      .div17 button {
            border: none;
            font-weight: bolder;
            font-size: 30px;
            background-color: #ffa500;
            border: 3px solid #ffa500;
            width: 200px;
            height: 60px;  
            margin-left: 60px;   
      }

      .div17 a {
        color: #000000;
        text-decoration: none;
      }

      .div17 a:hover {
        color: #ffa500;
  }

  .div17 button:hover {
         background-color: #ffffff;

  }

      .div18 {
           grid-column: 1;
           grid-row: 2;
           display: flex;
           flex-direction: column;
           gap: 1px;
           justify-content: left;  
      }

      .div18 a {
        margin-left:50px ;
        line-height: 2;
        font-size: larger;
        font-weight: bold ; 
        text-decoration: none;  
      }

      #call i{
        font-size: larger;
        color: #ff0000;
      }

      .whatsapp-icon i {
        color: #008000;
        font-size: larger;
      }

   /* section8 starts here */

  .section8 {
       height: 100px;
       background-color: #ffffff;
  }

   #bord5 {
    border: #808080;
    font-size: 30px;
    font-weight: bolder;
    margin-left: 35px;
  }

  .footer {
           margin-left: 80px;
           display: flex;
           flex-direction: row; 
  }

  .footer p {
     justify-items: left;
     font-size: 15px;
     margin-top: 15px;

  }

  .social-links a {
    justify-items: flex-end;
  }

  .social-links i {
    margin-left: 500px;
  }

  .social-links i {
       font-size: 20px;
       color: #0000ff;
       margin-top: 15px;
  }

  

  